<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJ0yZwRuTg9zTXBl1k3GR9tww0oIpFOmw</string>
	<key>GCM_SENDER_ID</key>
	<string>470589501512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.premierProjet</string>
	<key>PROJECT_ID</key>
	<string>premierprojetmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>premierprojetmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470589501512:ios:3a4886ac36cbc371e6a87d</string>
</dict>
</plist>