<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdlKkfbPwvH6gXMpn4LUNFV1l5tWgvGqw</string>
	<key>GCM_SENDER_ID</key>
	<string>1031271555902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cook-206ec</string>
	<key>STORAGE_BUCKET</key>
	<string>cook-206ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031271555902:ios:3496dc592874c094ed826f</string>
</dict>
</plist>